<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <section class="top-banner">
	   <div class="user-logo">
          <img src="images/user-logo.png" alt="user-logos">
      </div>
      <div class="banner">
	       <h1>Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry.</h1>
	  </div>
    </section>
    <aside class="side-nav" id="show-side-navigation1">
      <!--<div class="user-logo">
        <img src="images/user-logo.png" alt="user-logos">
      </div>-->
      <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
      <div class="heading">
        <img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance" alt="">
        <div class="info">
          <h3><a href="#">John Marker</a></h3>
        </div>
      </div>
      <ul class="categories">
        <li class="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#"> Home</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">New Project</a></li>
            <li><a href="#">Manage My Contractors</a></li>
            <li><a href="#">Payment</a></li>
          </ul>
        </li>
        <li>
		<i class="fa fa-folder-open fa-fw"></i>
		<a href="#"> My Projects</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul>
        </li>
        <li>
		<i class="fa fa-user fa-fw"></i>
		<a href="#"> My Contractors List</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul>
        </li>
        <li><i class="fa fa-cog fa-fw"></i><a href="#"> Settings</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Edit Profile/a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            
          </ul>
        </li>
      </ul>
    </aside>
    <section id="contents">
      <div class="welcome">
	  <div class="container">
	    <div class="row">
	       <div class="col-md-4 col-sm-12 col-xs-12">
		     <div class="project-section">
			 <div class="circle">
			 <img src="images/img1.png">
		 </div>
		  <h3>NEW PROJECT</h3>
			 </div>
			 
	    </div>
		     <div class="col-md-4 col-sm-12 col-xs-12">
		     <div class="project-section">
			 <div class="circle">
			 <img src="images/img2.png">
			 </div>
			 <h3>MANAGE BY CONTRACTORS</h3>
			
		  </div>
	    </div>
		     <div class="col-md-4 col-sm-12 col-xs-12">
		     <div class="project-section">
			 <div class="circle">
			 <img src="images/img3.png">
			 </div>
			 <h3>PAYMENTS</h3>
		  </div>
		  
	    </div>
	  </div>
	  </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="content">
                <h2>Your Account</h2>
                <!-- Material form contact -->
<div class="card account-form">
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!">

            <!-- Name -->
            <div class="md-form mt-3 col-md-6">
                <label for="materialContactFormName">Name</label>
                <input type="text" id="materialContactFormName" class="form-control">
            </div>

            <!-- E-mail -->
            <div class="md-form col-md-6">
                <label for="materialContactFormEmail">E-mail</label>
                <input type="email" id="materialContactFormEmail" class="form-control">
            </div>

            <!-- Company -->
            <div class="md-form col-md-6">
                <label for="materialContactFormEmail">Company</label>
                <input type="email" id="materialContactFormEmail" class="form-control">
            </div>
           <!-- website -->
            <div class="md-form col-md-6">
                <label for="materialContactFormEmail">website</label>
                <input type="email" id="materialContactFormEmail" class="form-control">
            </div>

            <!-- Bio -->
            <div class="md-form col-md-6">
                <label for="materialContactFormEmail">Bio</label>
                <input type="email" id="materialContactFormEmail" class="form-control">
            </div>

             <!-- Skills -->
            <div class="md-form col-md-6">
                <label for="materialContactFormEmail">Skills</label>
                <input type="email" id="materialContactFormEmail" class="form-control">
            </div>

            <!-- Skills -->
            <div class="md-form col-md-6">
                <label for="materialContactFormEmail">Skills</label>
                <!-- Subject -->
            <select class="mdb-select">
                <option value="" disabled>Choose option</option>
                <option value="1" selected>Feedback</option>
                <option value="2">Report a bug</option>
                <option value="3">Feature request</option>
                <option value="4">Feature request</option>
            </select>
            </div>

            <!--Message-->
            <div class="md-form col-md-6">
                <label for="materialContactFormMessage">Message</label>
                <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
            </div>

            <!-- Copy -->
            <div class="form-check col-md-6">
                <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                <label class="form-check-label" for="materialContactFormCopy">Send me a copy of this message</label>
            </div>
          <div class="col-md-12">
            <!-- Send button -->
            <button class="btn btn-account" type="submit">Submit</button>
          </div>
      </form>
        <!-- Form -->
   </div>
</div>
<!-- Material form contact -->
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
      <script src='http://code.jquery.com/jquery-latest.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
      <script src='js/main.js'></script>
      </body>
    </html>
